.gitconfig
.backups/*
.emacs.d/auto-save-list/*
.emacs.d/elpa/*
.ssh/*
.emacs-places
.emacs.bmk
.emacs.d/%backup%~
.emacs.d/.org-id-locations
.emacs.d/bookmarks
.emacs.d/confluence-el/*
.emacs.d/*.el
.emacs.d/kiwanami/*
.emacs.d/server/*
.emacs.d/tramp*
.emacs.d/tutorial/*
.emacs.d/url/*
.emacs.desktop*
.eshell/*
.history
org/*.html
org/*archive
org/architecture.org
