# -*- conf -*-
[user]
	name = Jon Miller
	email = jonmiller@apple.com
[color]
	ui = auto
	interactive = auto
[alias]
	l = log --graph --decorate --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(blue)- %an, %ar%Creset'
	lg = log --graph --oneline --decorate
	d = diff --color-words
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	t = describe --abbrev=0 --tags
	id = log -1 --pretty=format:'%C(cyan)%H%Creset (%C(yellow)%h%Creset)'
	nix = "!f() { git rebase -p --onto $1^ $1; }; f"
        br = branch -vv
        st = status
        co = checkout
        # Good for finding odd references should you get "ambiguous reference" warning.
        refs = show-refs
        # tagcommit shows which commmit a particular tag is referencing
        tagcommit = rev-list -n 1
        top = "!f() { git shortlog -sn | head -${1:-20}; }; f"
        # Prepping release notes
        gl = "!f() { git log --no-merges --pretty=format:'* %Cred%h%Creset - %s %n%w(76,4,4)%b%n' --abbrev-commit $@ | perl -0 -p -e 's|([<>])|\\1|g ; s|\\s+\\*|\\n\\n*|g'; }; f"
        # apply-url = "!f() { curl -s $1 2>&- | git apply ${@:2}; }; f"
        # am-url = "!f() { curl -s $1 2>&- | git am ${@:2}; }; f"
	paste = "!f() { p=$(mktemp); (pbpaste; echo) > $p; git apply ${@:-} $p && rm $p || { echo p @ $p; grep -n . $p; }; }; f"
	am-paste = "!f() { p=$(mktemp); (pbpaste; echo) > $p; git am ${@:-} $p && rm $p || { echo p @ $p; grep -n . $p; }; }; f"
        root = rev-parse --show-toplevel
        code-changes = "!f() { git log --format=format: --name-only | egrep -v '^$' | sort | uniq -c | sort -rg | head -${1:-10}; }; f"
        cc = "!git code-changes"
[push]
	default = simple
[url "git@gitlab.sd.apple.com:"]
	insteadOf = https://gitlab.sd.apple.com/
[core]
	ignorecase = false
	excludesfile = ~/.gitignore

[includeIf "gitdir:~/repos/ext/"]
      path = .gitconfig-personal
[includeIf "gitdir:~/Dropbox/"]
      path = .gitconfig-personal
[status]
	submoduleSummary = true
[diff]
	submodule = log
#git log upstream/production --date=iso --pretty=format:'%ad%x08%aN' | awk '$0 >= "2019-03-11" && $0 <= "2019-03-18"' | wc -l
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[include]
    path = .gitconfig-work
