[user]
	name = Jon Miller
	email = jsmiller@qti.qualcomm.com
[color]
	ui = auto
	interactive = auto
[alias]
	l = log --graph --decorate --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(blue)- %an, %ar%Creset'
	lg = log --graph --oneline --decorate
	d = diff --color-words
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
	t = describe --abbrev=0 --tags
[push]
	default = simple
