_netrc
.gitconfig
.backups/*
.emacs.d/auto-save-list/*
.emacs.d/elpa/*
.ssh/*
.emacs-places
.emacs.bmk
.emacs.d/%backup%~
.emacs.d/.org-id-locations
.emacs.d/bookmarks
.emacs.d/confluence-el/*
.emacs.d/semanticdb/*
.emacs.d/*.el
.emacs.d/kiwanami/*
.emacs.d/server/*
.emacs.d/tramp*
.emacs.d/tutorial/*
.emacs.d/url/*
.emacs.desktop*
.eshell/*
.ido.*
.history
org/*.html
org/*archive
org/architecture.org
# specific org files which contain sensitive information
org/info.org
org/meetings.org
org/projects.org
org/todos.org
# normal working directory where I'll have other projects checked out
projects/*
scratch/*
# noise from a typical Linux build
.PyCharm*
.Skype*
.adobe/*
.ansible/*
.thunderbird/*
venv/*
.cache/*
.ccache/*
.distcc/*
.config/*
.dbus/*
.dropbox*
.fontconfig/*
.gaim/*
.purple/*
.gconf/*
.gimp*
.gnome*
.gnu*
.gtk*
.kde/*
.ipython/*
.java*
.libreoffice*
.limewire*
LimeWire*
.local/*
.macromedia/*
.mozilla/*
.openoffice.org/*
.themes*
.thumbnails*
.snapshot/*
.nfs*
.bluefish/*
.pulse*
.subversion*
Download*
Desktop/*
Documents/*
Dropbox*
Movies*
Music*
Pictures*
Videos*
backups/*
.FBReader*
# Others
personal
scripts/*
pithos/*
# sensitive data
.netrc
.pki/*
.pip/*
